.Resume
{
    display:flex;
    color:white;
   
    align-items:center;
    justify-content:center;
    /* border:2px solid red; */
    padding:30px;
    flex-direction:column;
    
}
.image1
{
    display:flex;
    justify-content:center;
    
    align-items:center;
    width:40%;
    height:95%;
    /* border:2px solid white;
    border-radius:50%; */
    padding:4%;
    padding-top:0;
    animation:floating 3s ease-in-out infinite;
}
.Resume .image1 img
{
    width: 70%;
    height: 70%;
    animation:zoom 2s ease-in-out;
}
.Resume .image1 img:hover
{
    transform:scale(1.2)
}
@keyframes zoom
{
    0%
    {
        transform: scale(0)
    }
    100%
    {
        transform:scale(1)
    }
}
.download
{
    background:white;
    width:9%;
    text-align:center;
    padding:10px;
    color:black
    border:none;
    border-radius:10px;
    margin-left:30px;
}
.download a
{
    text-decoration:none;
    color:black;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@media (max-width:1290px){
    .Resume
    {
        width:95%;
        /* border:2px solid red; */
        height:90vh;
        padding:0px;
    }
    .image1
    {
        width:50%;
        height:90vh;
        /* border:20px solid red; */
        padding:0;
    }
    .Resume .image1 img
    {
        width:90%;
        height:90%;
    }
    .Resume .image1 img:hover
{
    transform:scale(1.1)
    /* margin-bottom:40px; */
}
    .download
    {
        width:12%;
      margin-top:35px;
    }
}
@media (max-width:760px){
    .Resume
    {
        width:95%;
        /* border:2px solid red; */
        height:90vh;
        margin-top:10%;
    }
    .image1
    {
        width:70%;
        height:90vh;
        /* border:20px solid red; */
        padding:0;
    }
    .Resume .image1 img
    {
        width:90%;
        height:90%;
    }
    .Resume .image1 img:hover
{
    transform:scale(1.1)
    /* margin-bottom:40px; */
}
    .download
    {
        width:24%;
      margin-top:35px;
    }
}
@media (max-width:560px){
    .Resume
    {
        width:95%;
        /* border:2px solid red; */
        height:90vh;
        margin-top:15%;
    }
    .image1
    {
        width:80%;
        
    }
   
    .download
    {
        width:24%;
      margin-top:35px;
    }
}
@media (max-width:500px){
    .Resume
    {
        width:95%;
        /* border:2px solid red; */
        height:70vh;
        margin-top:15%;
    }
    .image1
    {
        width:80%;
        
    }
   
    .download
    {
        width:24%;
      margin-top:35px;
    }
}
@media (max-width:500px){
    .Resume
    {
        width:95%;
        /* border:2px solid red; */
        height:65vh;
        margin-top:15%;
    }
    .download
    {
        width:30%;
      margin-top:35px;
      font-size:10px;
    }
}