
  .About {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 3%;
  }
  .Text2
  {
    color:white;
    border:2px solid white;
    width:95.4%;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    animation-fill-mode: both;
    padding-bottom:20px;
     
  }
  .Text2 h1{
    margin-bottom:2px;
  }
  .Text2 h1:hover{
    transform: scale(1.5);
  }
  .Text2:hover{
    transform: scale(1.1);
  }
  .Text2 hr {
    border-color: grey;
    width: 9%;
    border-radius: 7px;
    height: 3px;
    background-color: grey;
  }
 
  .Images
  {
    display:grid;
    width:50%;
    height:20%;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:10px;
    margin-left:80px;
    /* border:2px solid red; */
  }
  img
  {
    width:70px;
    height:70px;
  }
  .Left {
    animation: comeFromLeft 1s forwards !important;
  }
  
  .float {
    animation:floating 3s ease-in-out infinite ;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  @keyframes floating{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  @keyframes comeFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @media (max-width:1290px)
  {
    .Text2{
      width:98%;
      margin-left:10px;
    }
  }
  @media(max-width:1040px)
  {
    .Images
    {
      
      margin-left:0px;
      /* border:2px solid red; */
    }
  }
  @media(max-width:800px)
  {
    .Images
    {
      
      margin-left:-100px;
      gap:60px;
      /* border:2px solid red; */
    }
  }
  @media(max-width:760px)
  {
    .About
    {
      margin-top:15%;
    }
  }
  @media(max-width:650px)
  {
    .Images
    {
      
      margin-left:-150px;
      gap:50px;
      /* border:2px solid red; */
    }
  }
  @media(max-width:590px)
  {
    .Images
    {
      
      margin-left:-200px;
      column-gap: 50px;
      /* border:2px solid red; */
    }
  }
  @media(max-width:550px)
  {
    .About
    {
      margin-top:20%;
    }
    .Text2{
      margin-left:10px;
      padding:10px;
    }
    .Text2 h1
    {
      font-size:25px;
      margin-top:50px;
      /* margin-left:10px; */
    }
    .Text2 h1:hover{
      transform:scale(1.1);
    }
    .Images
    { 
      margin-left:-200px;
      column-gap: 40px;
      /* border:2px solid red; */
    }
  }
  @media(max-width:500px)
  {
    .Images
    { 
      margin-left:-200px;
      column-gap: 30px;
      /* border:2px solid red; */
    }
  
  }
  @media(max-width:440px)
  {
    .Images
    {
      grid-template-columns:1fr 1fr 1fr;
      margin-left:-130px;
      margi
      column-gap: 20px;
      /* border:2px solid red; */
    }
    .Text2
    {
      /* margin-left:10px; */
      margin-right:0px;
    }
    .About
    {
      margin-top:25%;
      /* border:2px solid red; */
      margin-left:0px;
      margin-right:0px;
    }
  }
  
 
  
  