/* Navibar.css */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.nav{
  display:none;
}
.logo img {
  width: 90px;
  height: 70px;
  margin-left: 20px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu ul li {
  margin-right: 100px;
  font-size: 24px;
  margin-top: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: white;

}

.menu ul li:hover {
  transform: scale(1.5);
  /* animation: line 3s ease-in-out infinite; */

  
}
.menu ul li hr {
  border: none;
  height: 1px;
  background-color: grey; /* Setting line color to grey */
  animation: Navibar_line 6s ease-in-out infinite;
  position:relative;
  height:4px;
  border-radius:4px;
}

.menu ul li a:hover {
  transform: none; 
}
/* .line1{
  background:grey;
  position:relative;
} */

@keyframes Navibar_line
{
    0%
    {
        left:-50%;
        width:0;
    }
  
    50%
    {
        left:0;
        width:100%;
    }
    100%
    {
        left:50%;
        width:0;
    }
}
@media (max-width:900px)
{
  .menu ul li {
    margin-right: 80px;
    font-size: 24px;
    margin-top: 5px;
  }
}
@media (max-width:760px)
{
  .menu
  {
    display:none;
    height:80px;
    width:95%;
    position:absolute;
    justify-content:center;
    top:50px;
    color:white;
    margin-top:30px;
    margin-left:20px;
     animation: slideMenu 1s ease-in-out;
  }
  .nav{
    display:block;
    margin-right:45%;
  }
  .visible
  {
    display:flex;
    /* margin-right:10%; */
    transform: translateY(0);
  }
  @keyframes slideMenu {
    0% {
      top: -100%;
    }
    100% {
      top: 0; 
    }
  }
  .menu ul li
  {
    margin-right:30px;
  }
}
@media (max-width:400px)
{
  .menu
  {
   margin-left:0px;
    margin-top:10px;
   /* border:2px solid red; */
   /* gap:10px; */
  }
  .nav{
    display:block;
    margin-right:45%;
  }
  .visible
  {
    display:flex;
    /* margin-right:10%; */
    transform: translateY(0);
  }
  @keyframes slideMenu {
    0% {
      top: -100%;
    }
    100% {
      top: 0; 
    }
  }
  .menu ul li
  {
    margin:20px;
    font-size:20px;
    gap:13px;
  }
}