/* Hero.css */
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden; 
  }
  
  .Hero{
    text-align: center;
    animation: slideInLeft 1s forwards; 
    /* border:2px solid red; */
    width:900px;
  }
  .user{
    border:none;
    border-radius:50%;
    /* margin-left:20%; */
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .welcome {
    font-size: 36px;
    color: #333;
  }
  .text{
    width:50%;
    color:white;
   /* border:2px solid white; */
   margin-left:25%;
  /* align-items:center; */
  }