
.star {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1; 
  
  }
  
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
 
  .star .blinking-star {
    position: absolute;
    width: 5px;
    height: 5px; 
    background-color: #fff; 
    border-radius: 50%;
  }
  
 
  .star .blinking-star {
    animation: blink 1s infinite; 
  }
  