.ProjectCard
{
    display: flex;
    width:400px;
    border:2px solid white;
    flex-direction: column;
    color:white;
    padding:50px;
    padding-bottom:20px;
    align-items:center;
    border-radius:40px;
    /* box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.7); */
}

.img
{
    width:200px;
    height:150px;
    /* border:2px solid red; */
}
.ProjectCard img:hover
{
    transform:scale(1.3);
}
.ProjectCard h1
{
    
     margin-top:50px;  
     position:relative;  
     /* border:2px solid red; */
}
.ProjectCard h1::after
{
    content:"";
    position:absolute;
    width:100%;
    height:3px;
    border:2px solid white;
    bottom:-10px;
    background-color:white;
    left:0px;
    border-radius:5px;
   
}
.ProjectCard h1:hover::after
{
    animation:line 3s ease-in-out 0s infinite;
}
@keyframes line
{
    0%
    {
        left:0;
        width:0;
    }
    50%
    {
        left:0;
        width:100%;
    }
    100%
    {
        left:100%;
        width:0;
    }
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@media(max-width:1290px)
{
    .ProjectCard
    {
        width:350px;
    }
}
@media (max-width:890px)
{
    .ProjectCard
    {
        width:300px;
    }
}
@media (max-width:720px)
{
    .ProjectCard
    {
        width:250px;
    }
    .img
{
    width:150px;
    height:100px;
    /* border:2px solid red; */
}
}
@media (max-width:610px)
{
    .ProjectCard
    {
        width:210px;
    }
    .img
{
    width:130px;
    height:100px;
    /* border:2px solid red; */
}
}
@media(max-width:530px)
{
    .ProjectCard
    {
        width:300px;
    }
    .img
{
    width:200px;
    height:150px;
    /* border:2px solid red; */
}
}
@media(max-width:530px)
{
    .ProjectCard
    {
        margin:0px;
    }
}